# {{ ansible_managed }}
PermitRootLogin {{ baseline_ssh_permit_root_login }}
PasswordAuthentication {{ baseline_ssh_password_authentication }}
KbdInteractiveAuthentication no
PubkeyAuthentication yes
