[defaults]
roles_path = roles
collections_path = installed-collections
ansible_managed = This file is managed by Ansible. Manual changes will be overwritten.
stdout_callback = yaml
display_skipped_hosts = False
interpreter_python = /usr/bin/python3
bin_ansible_callbacks = True
deprecation_warnings = True
forks = 25
force_color = true
host_key_checking = False
vault_password_file = .vault_pass.txt
timeout=10

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=5 -o ServerAliveCountMax=6
pipelining = True
control_path = %(directory)s/%%h-%%r

[inventory]
host_pattern_mismatch = ignore
